@import url('//cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css');

.ui.floating.label {
    position: absolute;
    z-index: 1;
    top: -1em;
    left: 100%;
    margin: 0 0 0 -1.5em!important;
}